In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("USvideos.csv")

In [3]:
df.drop(df[df['dislikes'] == 0].index, inplace = True)

In [4]:
df['ldr'] = df['likes'] / df['dislikes']

In [5]:
df[df['ldr'].isnull()]

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description, ldr]
Index: []

In [6]:
df[df['ldr'] == np.inf]

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description, ldr]
Index: []

In [7]:
df.reset_index(drop=True, inplace=True)
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,ldr
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,19.395482
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",15.812724
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,27.352126
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,15.273273
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,66.483157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40561,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals,27.552347
40562,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN,157.089005
40563,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...,46.577519
40564,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...,67.799368
40565,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...,1.676616

In [8]:
df.loc[df['tags'] == '[none]', 'tags'] = 'none'

In [101]:
df.loc[df['ldr'] >= df['ldr'].mean(), 'category'] = int(1)
df.loc[df['ldr'] < df['ldr'].mean(), 'category'] = int(0)

In [111]:
df['category'] = df['category'].astype(int)

In [112]:
titles = df[['category','title']].copy()
titles

       category                                              title
0             0                 WE WANT TO TALK ABOUT OUR MARRIAGE
1             0  The Trump Presidency: Last Week Tonight with J...
2             0  Racist Superman | Rudy Mancuso, King Bach & Le...
3             0                   Nickelback Lyrics: Real or Fake?
4             1                           I Dare You: GOING BALD!?
...         ...                                                ...
40561         0                       The Cat Who Caught the Laser
40562         1                         True Facts : Ant Mutualism
40563         1  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40564         1                How Black Panther Should Have Ended
40565         0  Official Call of Duty®: Black Ops 4 — Multipla...

[40566 rows x 2 columns]

In [113]:
tags = df[['category', 'tags']].copy()
tags

       category                                               tags
0             0                                    SHANtell martin
1             0  last week tonight trump presidency|"last week ...
2             0  racist superman|"rudy"|"mancuso"|"king"|"bach"...
3             0  rhett and link|"gmm"|"good mythical morning"|"...
4             1  ryan|"higa"|"higatv"|"nigahiga"|"i dare you"|"...
...         ...                                                ...
40561         0  aarons animals|"aarons"|"animals"|"cat"|"cats"...
40562         1                                               none
40563         1  I gave safiya nygaard a perfect hair makeover ...
40564         1  Black Panther|"HISHE"|"Marvel"|"Infinity War"|...
40565         0      call of duty|"cod"|"activision"|"Black Ops 4"

[40566 rows x 2 columns]

In [114]:
import re
tags['tags'] = tags['tags'].apply(lambda x: re.split(r'["(,),|,\s*]', x.lower())).apply(lambda x: list(filter(None, x)))

In [115]:
titles['title'] = titles['title'].apply(lambda x: re.split(r'[",|,\s*]', re.sub('[^A-Za-z0-9\s]+', '', x).lower())).apply(lambda x: list(filter(None, x)))

In [116]:
trainTags = tags[:-4000]
testTags = tags[-4000:]
trainTitles = titles[:-4000]
testTitles = titles[-4000:]

In [117]:
trainTags.loc[:,'tags'] = trainTags.loc[:,'tags'].apply(lambda x: " ".join(x))
trainTags

C:\Users\danie\anaconda3\envs\ai4ev\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

       category                                               tags
0             0                                    shantell martin
1             0  last week tonight trump presidency last week t...
2             0  racist superman rudy mancuso king bach racist ...
3             0  rhett and link gmm good mythical morning rhett...
4             1  ryan higa higatv nigahiga i dare you idy rhpc ...
...         ...                                                ...
36561         0  kanye west yeezy kanye charlamagne the breakfa...
36562         1  the star wars show star wars show andi gutierr...
36563         0  cat cats cat handling cat safety cute cute cat...
36564         0  rhett and link good mythical more rhett and li...
36565         1  marvel comics comic books nerd geek superhero ...

[36566 rows x 2 columns]

In [118]:
trainTitles.loc[:,'title'] = trainTitles.loc[:,'title'].apply(lambda x: " ".join(x))
trainTitles

C:\Users\danie\anaconda3\envs\ai4ev\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

       category                                              title
0             0                 we want to talk about our marriage
1             0  the trump presidency last week tonight with jo...
2             0   racist superman rudy mancuso king bach lele pons
3             0                     nickelback lyrics real or fake
4             1                              i dare you going bald
...         ...                                                ...
36561         0                   kanye west charlamagne interview
36562         1  arrested development star wars with ron howard...
36563         0  how to pick up a cat like a pro vet advice on ...
36564         0                             killer food taste test
36565         1  marvel studios antman and the wasp official tr...

[36566 rows x 2 columns]

In [119]:
trainTags.to_csv('trainTags.csv', header=False, index=False)
testTags.to_csv('testTags.csv', header=False, index=False)
trainTitles.to_csv('trainTitles.csv', header=False, index=False)
testTitles.to_csv('testTitles.csv', header=False, index=False)

In [120]:
import torch
import torchtext

In [121]:
ngrams = 1
trainTagsPath = 'trainTags.csv'
testTagsPath = 'testTags.csv'
trainTitlesPath = 'trainTitles.csv'
testTitlesPath = 'testTitles.csv'

In [122]:
vocabTags = torchtext.vocab.build_vocab_from_iterator(
    torchtext.datasets.text_classification._csv_iterator(trainTagsPath, ngrams))

36566lines [00:01, 31687.39lines/s]

In [123]:
trainDataTags, trainLabelsTags = torchtext.datasets.text_classification._create_data_from_iterator(
        vocabTags, torchtext.datasets.text_classification._csv_iterator(trainTagsPath, ngrams, yield_cls=True), False)

36566lines [00:02, 18123.02lines/s]

In [124]:
testDataTags, testLabelsTags = torchtext.datasets.text_classification._create_data_from_iterator(
        vocabTags, torchtext.datasets.text_classification._csv_iterator(testTagsPath, ngrams, yield_cls=True), False)

4000lines [00:00, 5434.54lines/s]

In [126]:
if len(trainLabelsTags ^ testLabelsTags) > 0:
    raise ValueError("Training and test labels don't match")

In [128]:
TagsTrain = torchtext.datasets.TextClassificationDataset(vocabTags, trainDataTags, trainLabelsTags)
TagsTest = torchtext.datasets.TextClassificationDataset(vocabTags, testDataTags, testLabelsTags)

In [136]:
print(TagsTrain[0])

(-1, tensor([12132,   882]))

In [137]:
print("Length of the first text example: {}".format(len(TagsTrain[0][1])))
print("Length of the second text example: {}".format(len(TagsTrain[1][1])))

Length of the first text example: 2
Length of the second text example: 15

In [138]:
from torch.nn.utils.rnn import pad_sequence

def collator(batch):
    labels = torch.tensor([e[0] for e in batch])
    sentences = [e[1] for e in batch]
    data = pad_sequence(sentences)
    
    return [data, labels]

In [139]:
BATCH_SIZE = 128

TagsTrainLoader = torch.utils.data.DataLoader(TagsTrain, batch_size=BATCH_SIZE, shuffle=True, collate_fn=collator)
TagsTestLoader = torch.utils.data.DataLoader(TagsTest, batch_size=BATCH_SIZE, shuffle=False, collate_fn=collator)

In [140]:
VOCAB_SIZE = len(TagsTrain.get_vocab())
EMBED_DIM = 100
HIDDEN_DIM = 64
NUM_OUTPUTS = len(TagsTrain.get_labels())
NUM_EPOCHS = 3

In [141]:
VOCAB_SIZE

23518

In [142]:
NUM_OUTPUTS

2